default: &default
  adapter: postgresql
  encoding: unicode
  url: postgres://emma_s_user:eSF2XIBn8pAhQbpm9SrRVSvIxyOmrtmO@dpg-ciiqe9lgkuvojjcrqqug-a/emma_s
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  port: 5432
  username: emma_s_user
  password: eSF2XIBn8pAhQbpm9SrRVSvIxyOmrtmO

development:
  <<: *default
  database: emma_s

test:
  <<: *default
  database: emma_s

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>